
.sidebar{
  margin-top: 55px;
  background-color: rgb(13, 96, 190);
}

.active{
  background-color: aquamarine;
  border-radius: 5px;
  overflow: hidden;
}

.nav-link{
  color: white;
}

.container{
  margin-top: 55px;
}

.nav-item{
  border: 1px solid white;
}